table.results-table {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    border-spacing: 0;
}

table.results-table td {
    border: 1px solid #e6e6e6;
    padding: .2rem .4rem;
}

table.results-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.filterNameGDC {
    background: #3d3d3d;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 2px;
    color: white;
}

.filterValueGDC {
    background: #255425;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 2px;
    color: white;
}

.joinWordGDC {
    background: #005083;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 2px;
    color: white;
}

.flexHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.flex-column {
    display: flex;
    flex-direction:column;
}

.flex-row {
    display: flex;
    flex-direction:row;
}

.loading-icgc {
    display: flex;
    justify-content: center;
}

.loading-icgc > div {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #166aa2;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.nowrapTabStrip {
    width: 100% !important;
}

.accordionContainer {
    height: 500px;
    overflow: scroll;
}

.dijitContentPane.dijitAccordionContainer-child.dijitAccordionContainer-dijitContentPane {
    width: 100% !important;
}